:root {
    /*Colors:*/
    --main-color: #ff0000; /*MainColor*/
    --secondary-color: #ffb700; /*SecondaryColor*/
    --tertiary-color: #fff; /*TertiaryColor*/
    --quaternary-color: #5f0000;
    --selection-color: #9e0000; /*TertiaryColor*/
    /*MoreColors:*/
    --soft-gray: #a4a4a4;
    --soft-black: rgba(0, 0, 0, 0.119);
    --dark-red: #000000;
    --darken-red: #161010;
    --always-white: #fff; /*contant color*/
    --always-crimson: #5f0000;
    --always-darken: #161010;
    --medium-gray: #737373;
    /*Fonts:*/
    --main-font: "Poppins", sans-serif;
}

::selection {
    background-color: var(--selection-color); /* Background color of selection */
    color: var(--always-white); /* Color of selected text */
}

.proyect-container::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
  
  /* Track */
.proyect-container::-webkit-scrollbar-track {
    background: var(--darken-red);
    border-radius: 50px;
}
  
  /* Handle */
.proyect-container::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 50px;
}
  
  /* Handle on hover */
.proyect-container::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
    cursor: grab;
}

.proyect-container::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

p{
    text-align: justify;
}

body{
    background-color: var(--darken-red);
    color: var(--tertiary-color);
    margin: 0px;
    padding: 0px;
    font-family: var(--main-font);
    transition: 1s;
}

html{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

.header-content{
    list-style-type: none;
    display: flex;
    background-color: var(--main-color);
    text-decoration: none;
    padding: 5px 0px;
    margin: 0px;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 5px 15px 0px var(--soft-black);
}

.header-left{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    font-weight: bold;
}

.header-right{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    margin-left: auto;
    margin-right: 10%;
    font-weight: bold;
}

.header-right li + li{
    margin-left: 10px;
}

.header-right li a{
    text-decoration: none;
    color: var(--always-white);
    padding: 7px 20px;
    border-radius: 5px;
    transition: 0.2s;
    border: 2px solid var(--main-color);
}

.header-right li:hover a{
    border: 2px solid var(--always-white);
}

.header-right li:active a{
    background: var(--always-white);
    color: var(--main-color);
}

.header-space-fix{
    width: 100%;
    height: 50px;
}

.banner{
    display: flex;
    padding: 80px 10%;
    gap: 5%;
}

.self-info{
    flex-basis: 50%;
    margin: auto;
    animation: spawn 1s ease-in-out;
}

.image-container{
    flex-basis: 50%;
    margin-top: auto;
    animation: spawn 1s ease-in-out;
    margin: 0px;
    padding: 0px;
}

.image-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    /*filter: hue-rotate(290deg) saturate(200%);*/
}

.banner-pre-title{ /*Hello! I'm*/
    font-size: 2rem;
    margin: 0px;
    color: var(--soft-gray);
}

.banner-title{ /*Carlos Salas*/
    font-size: 4rem;
    margin: 0px;
}

.banner-sub-title{ /*Front-end Developer*/
    font-size: 2.5rem;
    margin: 0px;
    
    background-image: linear-gradient(to right, var(--main-color), var(--secondary-color));
    -webkit-background-clip: text; /* for(Safari, Chrome, etc.) */
    background-clip: text;
    color: transparent;
}

.banner-self-info{
    margin: 15px 0px 0px 0px;
}

.banner-social-links a img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.banner-social-links a + a{
    margin-left: 3px;
}

.about-me{
    display: flex;
    margin: 0px 10% 80px 10%;
    padding: 20px 20px 20px 20px;
    background-color: var(--dark-red);
    border-radius: 5px;
    gap: 20px;
    box-shadow: 0px 5px 30px 0px var(--soft-black);
}

.about-me-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.about-me-image{
    flex-basis: 40%;
    margin-top: auto;
    animation: spawn 1s ease-in-out;
    margin: 0px;
}

.about-me-info{
    flex-basis: 100%;
    animation: spawn 1s ease-in-out;
    margin: 2%;
}

.about-me-title{ /*About Me*/
    font-size: 3rem;
    margin: 0px;
}

.about-me-subtitle{ /*Front-end Developer & Game Developer*/
    font-size: 1.5rem;
    background-image: linear-gradient(to right, var(--main-color), var(--secondary-color));
    -webkit-background-clip: text; /* for(Safari, Chrome, etc.) */
    background-clip: text;
    color: transparent;
    margin: 0px;
}

.about-me-text{ /*(about me text)*/
    margin: 20px 0px;
}

.about-contact-button{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    border: none;

    border-radius: 50px;
    color: white;
    background-color: var(--main-color);
    font-family: var(--main-font);
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.about-contact-button:hover{
    background-color: var(--tertiary-color);
    color: var(--darken-red);
}

.tertiary-color{
    color: var(--tertiary-color);
}

.proyects-and-skills{
    display: flex;
    margin: 80px 10%;
    gap: 15px;
}

.skills-and-info{
    flex-basis: 20%;
    background-color: var(--dark-red);
    padding: 40px 10px;
    border-radius: 10px;
    height: 1055px;
    box-shadow: 0px 5px 30px 0px var(--soft-black);
}

.proyects{
    flex-basis: 80%;
    background-color: var(--dark-red);
    padding: 20px 20px 20px 10px;
    height: 1095px;
    box-shadow: 0px 5px 30px 0px var(--soft-black);
}

.proyect-container{
    overflow: auto;
    height: 1020px;
    padding: 10px 10px 0px 10px;
    mask-image: linear-gradient(to bottom, black calc(100% - 20px), transparent 100%);
}

.personal-info{
    margin-bottom: 20px;
}

.personal-info-image{
    width: 250px;
    height: 250px;
    border-radius: 500px;
    border: 2px solid var(--always-white);
    display: block;
    margin: auto;
}

.personal-info-name{
    text-align: center;
    margin: 10px 0px 20px 0px;
}

.personal-info-local{
    margin: 5px 10px;
    display: flex;
    font-weight: bold;
}

.personal-info-right{
    text-align: right;
    margin-left: auto;
    color: var(--soft-gray);
}

.image-pencentage img{
    width: 70px;
    display: block;
    margin: auto;
}

.image-pencentage{
    position: relative;
    margin: auto;
}

.image-pencentage span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    margin: 0px;
    color: var(--tertiary-color);
    text-align: center;
}

.lang{
    margin: 20px auto;
    width: auto;
    flex: 1;
}

.lang p{
    text-align: center;
    margin: 10px 0px 0px 0px;
    font-size: 14px ;
}

.langs-container{
    display: flex;
}

.technology-skill{
    margin: 10px 20px 5px 20px;
}

.skill-bar-out{
    background-color: var(--darken-red);
    border-radius: 50px;
    margin: 0px 10px;
    border: 2px solid var(--main-color);
}

.skill-bar-inside-100{
    background-color: var(--main-color);
    padding: 5px;
    width: 100%;
    border-radius: 50px;
}

.skill-bar-inside-90{
    background-color: var(--main-color);
    padding: 5px;
    width: 90%;
    border-radius: 50px;
}

.skill-bar-inside-80{
    background-color: var(--main-color);
    padding: 5px;
    width: 80%;
    border-radius: 50px;
}

.skills-title{
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.hr-division{
    border: none;
    border-radius: 10px;
    height: 2px;
    background-color: var(--soft-gray); 
}

.theme-button{
    min-width: 20px;
    height: 20px;
    margin-right: auto;
    background-color: var(--tertiary-color);
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.header-buttons{
    display: flex;
    margin-left: 10%;
}

.bars-button{
    min-width: 20px;
    height: 20px;
    margin-right: 40px;
    margin-left: auto;
    background-color: var(--tertiary-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.theme-button:hover{
    transform: rotate(-120deg);
}

.proyects{
    border-radius: 10px;
}

.proyects-title{
    margin: 5px 0px 15px 20px;
    font-size: 2rem;
}

.proyect{
    display: flex;
    background-color: var(--quaternary-color);
    border-radius: 10px;
    flex: 1;
    box-shadow: 0px 5px 15px 0px var(--soft-black);
}

.proyect:nth-child(2) {
    align-self: stretch;
}

.proyect + .proyect{
    margin-top: 20px;
}

.proyect-img {
    width: 100%;   
    height: auto;
    flex-basis: 0; /* Establece el tamaño inicial en 0 */
    flex-grow: 1; /* Permite que el elemento crezca para ocupar el espacio restante */
}

.proyect-info {
    padding: 10px 30px;
    flex-basis: 0; /* Establece el tamaño inicial en 0 */
    flex-grow: 2; /* Permite que el elemento crezca para ocupar el espacio restante */
    margin: auto;
}

.proyect-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}

.proyect-title{
    margin: 0px 0px 10px 0px;
    font-size: 34px;
    color: var(--tertiary-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1; 
}

.proyect-text{
    margin: 0px 0px 15px 0px;   
    color: var(--tertiary-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* Especifica el número máximo de líneas que deseas mostrar */
    -webkit-line-clamp: 7; 
}

.proyect-link{
    display: block;
    width: max-content;
    text-decoration: none;
    color: var(--always-white);
    background-color: var(--main-color);
    padding: 7px 30px;
    border-radius: 50px;
    transition: 0.2s;
}

.comming-soon-link{
    background-color: var(--medium-gray) !important;
    cursor: default;
}

.comming-soon-link:hover{
    background-color: var(--medium-gray) !important;
    color: var(--always-white) !important;
}

.proyect-link:hover{
    background-color: var(--tertiary-color);
    color: var(--darken-red);
}

.proyect-technologies-title{
    margin: 15px 0px 0px 10px;
    color: var(--soft-gray);
}

.proyect-technologies{ 
    display: block;
}

.proyect-technologies span{
    display: inline-block;
    padding: 5px 20px;
    background-color: var(--dark-red);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px var(--soft-black);
    margin: 10px 10px 0px 0px;
}
/*
.proyect-technologies span + span{  
}*/

.skills-and-contacts{
    display: flex;
    margin: 80px 10%;
    gap: 15px;
}

.contacts{
    flex: 1; /* Permite que el elemento crezca para ocupar el espacio restante */
    border-radius: 10px;
    padding: 0px;
    width: 0; /* Para asegurar que el ancho sea flexible */
    min-width: 0; /* Para asegurar que el ancho sea flexible */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skills{
    flex: 1; /* Permite que el elemento crezca para ocupar el espacio restante */
    background-color: var(--dark-red);
    border-radius: 10px;
    padding: 20px;
    width: 0; /* Para asegurar que el ancho sea flexible */
    min-width: 0; /* Para asegurar que el ancho sea flexible */
    box-shadow: 0px 5px 30px 0px var(--soft-black);
}

.skills-and-contacts-title{
    margin: 0px 0px 0px 10px;
    font-size: 22px;
    display: block;
}

.skills-container{
    display: flex;
    margin: auto;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
}

.individual-skill{
    width: 100%;
    /*background-color: var(--quaternary-color);*/
    padding: 10px 5px;
    margin: 5px;
    border-radius: 10px;
    transition: 0.1s;
}

.individual-skill:hover{
    box-shadow: 0px 5px 30px 0px var(--soft-black);
}

.individual-skill p{
    margin: 0px;
    text-align: center;
}

.individual-skill img{
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
}

.contacts-and-info-container{
    background-color: var(--dark-red);
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    box-shadow: 0px 5px 30px 0px var(--soft-black);
}

.cv-buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: var(--darken-red);
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto 0px auto;
}

.cv-buttons{
    text-decoration: none;
    color: var(--always-white);
    padding: 10px 20px;
    background-color: var(--main-color);
    display: inline-block;
    border-radius: 5px;
    flex: 1;
    transition: 0.2s;
    border: 2px solid var(--main-color);
}

.cv-name{
    flex: 2;
    font-size: 20px;
}

.cv-buttons:hover{
    background-color: var(--always-darken);
    border: 2px solid var(--tertiary-color);
}

.cv-button-icon{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.contacts-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: var(--darken-red);
    padding: 5px 10%;
    border-radius: 5px;
}

.contacts-container img{    
    width: 40px;
    height: 40px;
    padding: 5px;
    transition: 0.1s;
}

.contacts-container img:hover{
    cursor: pointer;
    background-color: var(--quaternary-color);
    border-radius: 5px;
    box-shadow: 0px 5px 30px 0px var(--soft-black);
}

.social-media{
    margin: auto auto auto 0px  ;
}

.mail-container a{
    color: var(--tertiary-color);
    margin: auto;
    text-align: center;
    flex: 1;
    text-decoration: none;
    width: 100%;
}

.mail-container button{
    color: var(--always-white);
    background-color: var(--main-color);
    border: 0px;
    padding: 10px 0px;
    font-size: 16px;
    font-family: var(--main-font);
    flex: 1;
    border-radius: 5px;
    transition: 0.2s;
    width: 100%;
}

.mail-container button:hover{
    background-color: var(--tertiary-color);
    color: var(--darken-red);
    cursor: pointer;
}

.mail-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.footer{
    background-color: var(--main-color);
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer *{
    vertical-align: middle;
}

.footer a img{
    width: 20px;
    height: 20px;
    background-color: var(--always-white);
    padding: 10px;
    border-radius: 50px;
    transition: 0.2s;
}

.footer a:hover img{
    transform: translateY(-5px);
}

.text-footer{
    margin: 0px;
    text-align: center;
    color: var(--always-white);
    margin: auto 0px auto 0px;
}

.special-background{
    background-image: url(../media/proyects-img/pattern-white-theme.png);
    animation: changebg 10s steps(9999, start) infinite;
}

.no-highlight-link{
    text-decoration: none;
    color: var(--always-white);
}

.pixelated-img{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}


  
@keyframes changebg {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 82px 82px;
    }
}

@keyframes spawn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1700px){
    .cv-name{
        display: none;
    }
}

@media (max-width: 1250px){ /*medium size*/
    .about-me-info{
        margin: auto;
    }
    
    .about-me-image{
        display: none;
    }

    .banner{
        display: block;
        padding: 40px 5%;
    }

    .about-me{
        display: block;
        margin: 0px 5%;
        padding: 20px;
    }

    .proyects-and-skills{
        display: block;   
        margin: 40px 5%;
    }
    
    /*STARTS*/

    .skills-and-info{
        margin-bottom: 40px;
        display: flex;
        height: auto;
        padding: 10px;
    }
    
    .langs-container{
        flex-direction: column;
    }

    .personal-info{
        flex: 1;
        vertical-align: middle;
        margin: 10px;
        padding: 50px 10px 10px 10px;
        background-color: var(--darken-red);
        border-radius: 10px;
    }

    .lang{
        vertical-align: middle;
    }

    .langs-container{
        flex: 1;
        background-color: var(--darken-red);
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }

    .skills-section{
        flex: 1;
        background-color: var(--darken-red);
        margin: 10px;
        padding: 10px 10px 20px 10px;
        border-radius: 10px;
        
    }

    .hr-division{
        display: none;
    }

    /*END*/

    .skills-and-contacts{   
        margin: 40px 5%;
    }

    .contacts{
        width: auto; /* Para asegurar que el ancho sea flexible */
        min-width: auto; /* Para asegurar que el ancho sea flexible */
    }

}

@media (max-width: 1100px){
    .mail-container a{
        display: none;
    }

    .cv-button-icon{
        display: none;
    }
}

@media (max-width: 1000px){
    .header-left{
        display: none;
    }
}

@media (max-width: 850px){ /*medium size*/
    p{
        text-align:left;
    }

    .mail-container a{
        display: block;
    }

    .cv-button-icon{
        display: inline;
    }

    .skills{
        width: auto; /* Para asegurar que el ancho sea flexible */
        min-width: auto; /* Para asegurar que el ancho sea flexible */
        margin-bottom: 15px;
    }
    
    .proyect-technologies-title{
        display: none;
    }

    .proyect-technologies{
        display: none;
    }

    .proyect-info {
        padding: 10px;
        width: 250px;
        display: block;
        height: 280px;
        position: relative;
    }
       
    .proyect-link {
        width: auto;
        text-align: center;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: 10px;
    }

    .mail-container{
        flex-direction: column;
        background-color: var(--darken-red);
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
    }

    .cv-buttons-container{
        flex-direction: column;
        align-items: normal;
    }

    .skills-container{
        display: inline-block;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .skills-icons-container{
        display: flex;
        justify-content: center;
    }

    .skills-and-contacts{   
        display: block;
    }

    .individual-skill{
        padding: 10px 0px;
        margin: 0px;
    }

    .proyects{
        padding: 10px;
        height: 100%;
    }

/*
    .proyect-container::-webkit-scrollbar {
        display: none;
    }
*/ 
    .proyect-container {
        /*
        -ms-overflow-style: none; 
        scrollbar-width: none;  
        */
        display: flex;
        width: auto;
        height: auto;
        padding: 10px;
        mask-image: linear-gradient(to right, black calc(100% - 60px), transparent 100%);
    }

    .proyect{
        display: block;
        width: auto;
        height: auto;
    }

    .proyects-title{
        text-align: center;
        margin: 10px 0px 15px 0px;
    }

    .proyect + .proyect{
        margin-top: 0px;
        margin-left: 10px;
    }

    .proyect-img img{
        border-radius: 10px 10px 0px 0px;
        height: 200px;
    }


    /*----------Info-Section----------*/

    
    .skills-and-info{
        margin-bottom: 40px;
        display: block;
    }

    .hr-division{
        display: block !important;
    }
    
    .langs-container{
        flex-direction:row;
    }

    .personal-info{
        background-color: transparent;
        padding: 10px 0px 0px 0px;
    }

    .langs-container{
        background-color: transparent;
        padding: 10px;
    }

    .skills-section{
        background-color: transparent;
        padding: 0px 0px 20px 0px;
    }

}

@media (max-width: 600px){
    
    .header-buttons{
        display: flex;
        margin-left: 0px;
    }

    .theme-button{
        margin-left: 5px;
    }

    .bars-button{
        display: block;
        margin-right: 5px;
    }

    .header-content{
        display: flex;
        flex-direction: column;
    }

    .header-right{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    
    .header-left{
        display: block;
        margin-left: 0px;
    }

    .header-right li{
        width: 100%;
    }
    
    .header-right li + li{
        margin-left: 0px;
    }

    .header-right li a{
        display: block;
        text-align: center;
        width: auto;
    }
}

@media (max-width: 330px){

    .header-left{
        display: none;
    }

    .langs-container{
        margin: 0px;
        padding: 0px;
    }

    .skills-section{
        margin: 0px;
        padding: 0px;
    }

    .personal-info{
        margin: 0px;
        padding: 0px;
    }

    .personal-info-image{
        width: 200px;
        height: 200px;
    }
}



