<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolarVibes - About</title>
    <link rel="stylesheet" href="../styles/style.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Yellowtail&display=swap" rel="stylesheet">
</head>
<body>
    
    <div>
        <ul class="header-links">
            <img class="logo" src="../img/MyPixelArt - 2023-12-02T171909.862.png" alt="heladoLogo">
            <div class="title"><a href="../index.html">PolarVibes</a></div>
            <span><img class="menu-icon" src="../img/svg/bars-solid.svg" alt="iconsvg"></span>
            
            <br class="break-mid"/>
            <li><a class="selected" href="#"><img class="icon-svg" src="../img/svg/circle-info-solid.svg" alt="iconsvg"> Sobre</a></li>
            
            <br class="break-short"/>
            <li><a href="./products.html"><img class="icon-svg" src="../img/svg/ice-cream-solid.svg" alt="iconsvg"> Productos</a></li>
            
            <br class="break-short"/>
            <li><a href="./contacts.html"><img class="icon-svg" src="../img/svg/phone-solid.svg" alt="iconsvg"> Contactos</a></li>
            
            <br class="break-short"/>
            <li><a href="./cart.html"><img class="icon-svg" src="../img/svg/cart-shopping-solid.svg" alt="iconsvg"> Carrito</a></li>
        </ul>
        <div class="header-correction-space"></div>
    </div>
    
    <div class="banner">
        <div>
            <img class="banner-img-short" src="../img/bannerCats.jpeg" alt="product">
        </div>
        <div>
            <h2 class="sub-title">Historia - <span class="text-title">PolarVibes</span></h2>
            <p class="text-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus incidunt harum molestiae quam cum nostrum nesciunt eum voluptas nam deleniti possimus quis alias eaque eveniet fugiat, aperiam natus eos autem.</p>
            <a href="#history"><input class="button1" type="button" value="VER HISTORIA"></a>
            <div id="history"></div>
        </div>
    </div>
    <div class="gradient-container">
        <div class="history-container">
            <div>
                <img class="history-img" src="../img/IceCreamIA/violed.jpeg" alt="history-img">
            </div>
            <div class="history-info-container">
                <p class="history-title">Origen</p>
                <p class="history-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed rerum quae itaque officia ratione! In odit quidem omnis blanditiis sint, facilis voluptatum accusantium, magnam ipsum obcaecati sunt reiciendis animi neque Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quae dicta nobis rerum, dignissimos temporibus quisquam facilis fugiat! Laudantium, vero quo aliquam atque nam saepe blanditiis ducimus debitis rerum facere Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur ad neque iusto ipsum recusandae! Soluta officia aliquam optio doloremque dicta, dolorum voluptatibus ab, quam culpa perspiciatis reprehenderit similique quasi!</p>
            </div>
        </div>
        <hr class="white-hr">
        <div class="history-container">
            <div>
                <img class="history-img" src="../img/IceCreamIA/green.jpeg" alt="history-img">
            </div>
            <div class="history-info-container">
                <p class="history-title">Idea</p>
                <p class="history-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed rerum quae itaque officia ratione! In odit quidem omnis blanditiis sint, facilis voluptatum accusantium, magnam ipsum obcaecati sunt reiciendis animi neque Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quae dicta nobis rerum, dignissimos temporibus quisquam facilis fugiat! Laudantium, vero quo aliquam atque nam saepe blanditiis ducimus debitis rerum facere Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur ad neque iusto ipsum recusandae! Soluta officia aliquam optio doloremque dicta, dolorum voluptatibus ab, quam culpa perspiciatis reprehenderit similique quasi!</p>
            </div>
        </div>
        <hr class="white-hr">
        <div class="history-container">
            <div>
                <img class="history-img" src="../img/IceCreamIA/red.jpeg" alt="history-img">
            </div>
            <div class="history-info-container">
                <p class="history-title">Helados</p>
                <p class="history-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed rerum quae itaque officia ratione! In odit quidem omnis blanditiis sint, facilis voluptatum accusantium, magnam ipsum obcaecati sunt reiciendis animi neque Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quae dicta nobis rerum, dignissimos temporibus quisquam facilis fugiat! Laudantium, vero quo aliquam atque nam saepe blanditiis ducimus debitis rerum facere Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tenetur ad neque iusto ipsum recusandae! Soluta officia aliquam optio doloremque dicta, dolorum voluptatibus ab, quam culpa perspiciatis reprehenderit similique quasi!</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="foo-links">
            <p class="foo-title">Links utiles</p>
            <a class="foo-individual-link" href="#">Sobre nosotros</a><br class="break-mobile">
            <a class="foo-individual-link" href="#">Preguntas frecuentes</a><br class="break-mobile">
            <a class="foo-individual-link" href="#">Trabaje con nosotros</a>
        </div>
        <hr class="foo-hr">
        <div class="foo-social">
            <p class="foo-title">Redes Sociales</p>
            <div class="social-icons">
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-instagram.svg" alt="social-icon"> </a>
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-twitter.svg" alt="social-icon"> </a>
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-youtube.svg" alt="social-icon"> </a>
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-pinterest.svg" alt="social-icon"> </a>
            </div>
        </div>
        <hr class="foo-hr">
        <div class="foo-contacts">
            <p class="foo-title">Contactos</p>
            <a class="foo-individual-link" href="#"><img class="info-icons" src="../img/svg/location-dot-solid.svg" alt="social-icon"> PolarVibes - Camino del infante calle numero 34</a><br class="break-mobile">
            <a class="foo-individual-link" href="tel:916865014"><img class="info-icons" src="../img/svg/phone-solid.svg" alt="social-icon"> Telefono: 987654321</a><br class="break-mobile">
            <a class="foo-individual-link" href="mailto:polarvibes@polarvibes.com"><img class="info-icons" src="../img/svg/envelope-solid.svg" alt="social-icon"> polarvibes@polarvibes.com</a>
        </div>
    </div>

</body>
</html>