<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolarVibes - Products</title>
    <link rel="stylesheet" href="../styles/style.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Yellowtail&display=swap" rel="stylesheet">
</head>
<body>
    
    <div>
        <ul class="header-links">
            <img class="logo" src="../img/MyPixelArt - 2023-12-02T171909.862.png" alt="heladoLogo">
            <div class="title"><a href="../index.html">PolarVibes</a></div>
            <span><img class="menu-icon" src="../img/svg/bars-solid.svg" alt="iconsvg"></span>
            
            <br class="break-mid"/>
            <li><a href="./about.html"><img class="icon-svg" src="../img/svg/circle-info-solid.svg" alt="iconsvg"> Sobre</a></li>
            
            <br class="break-short"/>
            <li><a href="./products.html"><img class="icon-svg" src="../img/svg/ice-cream-solid.svg" alt="iconsvg"> Productos</a></li>
            
            <br class="break-short"/>
            <li><a href="./contacts.html"><img class="icon-svg" src="../img/svg/phone-solid.svg" alt="iconsvg"> Contactos</a></li>
            
            <br class="break-short"/>
            <li><a class="selected" href="#"><img class="icon-svg" src="../img/svg/cart-shopping-solid.svg" alt="iconsvg"> Carrito</a></li>
        </ul>
        <div class="header-correction-space"></div>
    </div>



    <div class="cart-container">
        <div class="cart-first-section">
            <div class="product-cart-container">
                <div class="product-cart-info">
                    <div class="img-cart-container">
                        <img src="../img/IceCreamIA/brownAndGreen.jpeg" alt="producto">
                    </div>
                    <div class="info-cart-container">
                        <p class="cart-product-title">Helado de menta y chocolate (vaso)</p>
                        <p class="cart-product-price">€1,<span class="product-price-cents">99</span></p>
                        <div class="rate-stars">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                        </div>
                        <img class="cart-product-check" src="../img/svg/circle-check-solid.svg" alt="icecreamIcon">
                        <p class="cart-check-info">Entrega en menos de 30 minutos<br></p>
                        <img class="cart-product-check" src="../img/svg/circle-check-solid.svg" alt="icecreamIcon">
                        <p class="cart-check-info">Recojer en la tienda</p>
                    </div>
                </div>
                <div class="product-cart-options">
                    <div class="remove-product">
                        <a href="#">Remover</a>
                    </div>
                    <div class="quantity-product">
                        <div>
                            <input type="button" value="-">
                            <span>1</span>
                            <input type="button" value="+">
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-cart-container">
                <div class="product-cart-info">
                    <div class="img-cart-container">
                        <img src="../img/IceCreamIA/red.jpeg" alt="producto">
                    </div>
                    <div class="info-cart-container">
                        <p class="cart-product-title">Helado de fresa (vaso)</p>
                        <p class="cart-product-price">€1,<span class="product-price-cents">20</span></p>
                        <div class="rate-stars">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-regular.svg" alt="star">
                        </div>
                        <img class="cart-product-check" src="../img/svg/circle-check-solid.svg" alt="icecreamIcon">
                        <p class="cart-check-info">Entrega en menos de 30 minutos<br></p>
                        <img class="cart-product-check" src="../img/svg/circle-check-solid.svg" alt="icecreamIcon">
                        <p class="cart-check-info">Recojer en la tienda</p>
                    </div>
                </div>
                <div class="product-cart-options">
                    <div class="remove-product">
                        <a href="#">Remover</a>
                    </div>
                    <div class="quantity-product">
                        <div>
                            <input type="button" value="-">
                            <span>2</span>
                            <input type="button" value="+">
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-cart-container">
                <div class="product-cart-info">
                    <div class="img-cart-container">
                        <img src="../img/IceCreamIA/brown.jpeg" alt="producto">
                    </div>
                    <div class="info-cart-container">
                        <p class="cart-product-title">Helado de chocolate (vaso)</p>
                        <p class="cart-product-price">€0,<span class="product-price-cents">99</span></p>
                        <div class="rate-stars">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-solid.svg" alt="star">
                            <img class="cart-product-rate" src="../img/svg/star-regular.svg" alt="star">
                        </div>
                        <img class="cart-product-check" src="../img/svg/circle-check-solid.svg" alt="icecreamIcon">
                        <p class="cart-check-info">Entrega en menos de 30 minutos<br></p>
                        <img class="cart-product-check" src="../img/svg/circle-check-solid.svg" alt="icecreamIcon">
                        <p class="cart-check-info">Recojer en la tienda</p>
                    </div>
                </div>
                <div class="product-cart-options">
                    <div class="remove-product">
                        <a href="#">Remover</a>
                    </div>
                    <div class="quantity-product">
                        <div>
                            <input type="button" value="-">
                            <span>1</span>
                            <input type="button" value="+">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-second-section">
            <div class="buy-section-container">
                <div class="inline-info-2">
                    <p class="buy-text">Subtotal carrito</p>
                    <p class="buy-price">€4,18</p>
                </div>
                <div class="inline-info-2">
                    <p class="buy-text">Envio</p>
                    <p class="buy-price">€2,00</p>
                </div>
                <hr>
                <div class="main-inline-info">
                    <p class="main-buy-text">Total</p>
                    <p class="main-buy-price">€6,18</p>
                </div>
                <button class="pay-button"><img src="../img/svg/cart-shopping-solid.svg" alt="cart"> COMPRAR</button>
                <p class="cart-question">Tines un cupón?</p>
                <p class="cart-answer">Validalo en la confirmacion y aprovecha el descuento</p>
                <hr>
                <div class="pay-methods">
                    <img src="../img/svg/cc-visa.svg" alt="pay-method">
                    <img src="../img/svg/cc-mastercard.svg" alt="pay-method">
                    <img src="../img/svg/cc-paypal.svg" alt="pay-method">
                    <img src="../img/svg/cc-apple-pay.svg" alt="pay-method">
                    <img src="../img/svg/cc-amazon-pay.svg" alt="pay-method">
                </div>
            </div>
        </div>
    </div>


    
    <div class="footer">
        <div class="foo-links">
            <p class="foo-title">Links utiles</p>
            <a class="foo-individual-link" href="#">Sobre nosotros</a><br class="break-mobile">
            <a class="foo-individual-link" href="#">Preguntas frecuentes</a><br class="break-mobile">
            <a class="foo-individual-link" href="#">Trabaje con nosotros</a>
        </div>
        <hr class="foo-hr">
        <div class="foo-social">
            <p class="foo-title">Redes Sociales</p>
            <div class="social-icons">
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-instagram.svg" alt="social-icon"> </a>
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-twitter.svg" alt="social-icon"> </a>
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-youtube.svg" alt="social-icon"> </a>
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-pinterest.svg" alt="social-icon"> </a>
            </div>
        </div>
        <hr class="foo-hr">
        <div class="foo-contacts">
            <p class="foo-title">Contactos</p>
            <a class="foo-individual-link" href="#"><img class="info-icons" src="../img/svg/location-dot-solid.svg" alt="social-icon"> PolarVibes - Camino del infante calle numero 34</a><br class="break-mobile">
            <a class="foo-individual-link" href="tel:916865014"><img class="info-icons" src="../img/svg/phone-solid.svg" alt="social-icon"> Telefono: 987654321</a><br class="break-mobile">
            <a class="foo-individual-link" href="mailto:polarvibes@polarvibes.com"><img class="info-icons" src="../img/svg/envelope-solid.svg" alt="social-icon"> polarvibes@polarvibes.com</a>
        </div>
    </div>

</body>
</html>