<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolarVibes - Products</title>
    <link rel="stylesheet" href="../styles/style.css">
    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Yellowtail&display=swap" rel="stylesheet">
</head>
<body>
    
    <div>
        <ul class="header-links">
            <img class="logo" src="../img/MyPixelArt - 2023-12-02T171909.862.png" alt="heladoLogo">
            <div class="title"><a href="../index.html">PolarVibes</a></div>
            <span><img class="menu-icon" src="../img/svg/bars-solid.svg" alt="iconsvg"></span>
            
            <br class="break-mid"/>
            <li><a href="./about.html"><img class="icon-svg" src="../img/svg/circle-info-solid.svg" alt="iconsvg"> Sobre</a></li>
            
            <br class="break-short"/>
            <li><a class="selected" href="#"><img class="icon-svg" src="../img/svg/ice-cream-solid.svg" alt="iconsvg"> Productos</a></li>
            
            <br class="break-short"/>
            <li><a href="./contacts.html"><img class="icon-svg" src="../img/svg/phone-solid.svg" alt="iconsvg"> Contactos</a></li>
            
            <br class="break-short"/>
            <li><a href="./cart.html"><img class="icon-svg" src="../img/svg/cart-shopping-solid.svg" alt="iconsvg"> Carrito</a></li>
        </ul>
        <div class="header-correction-space"></div>
    </div>
    
    <div class="header-products-container">
        <!--<h2 class="pre-header-products">PolarVibes / Productos /</h2>-->
        <h2 class="header-products">Helados</h2>
    </div>

    <div class="bubbles">
        <a href="#" class="individual-bubble">
            <img class="img-bubble" src="../img/IceCreamIA/beige.jpeg" alt="product">
            <p class="info-bubble">Vainilla</p>
        </a>
        <a href="#" class="individual-bubble">
            <img class="img-bubble" src="../img/IceCreamIA/blue.jpeg" alt="product">
            <p class="info-bubble">Chicle</p>
        </a>
        <a href="#" class="individual-bubble">
            <img class="img-bubble" src="../img/IceCreamIA/brown.jpeg" alt="product">
            <p class="info-bubble">Chocolate</p>
        </a>
        <a href="#" class="individual-bubble">
            <img class="img-bubble" src="../img/IceCreamIA/brownAndGreen.jpeg" alt="product">
            <p class="info-bubble">ChocoMenta</p>
        </a>
        <a href="#" class="individual-bubble">
            <img class="img-bubble" src="../img/IceCreamIA/green.jpeg" alt="product">
            <p class="info-bubble">Menta</p>
        </a><a href="#" class="individual-bubble">
            <img class="img-bubble" src="../img/IceCreamIA/green2.jpeg" alt="product">
            <p class="info-bubble">SuperMenta</p>
        </a>
        <a href="#" class="individual-bubble">
            <img class="img-bubble" src="../img/IceCreamIA/red.jpeg" alt="product">
            <p class="info-bubble">Fresa</p>
        </a>
        <a href="#" class="individual-bubble">
            <img class="img-bubble" src="../img/IceCreamIA/red2.jpeg" alt="product">
            <p class="info-bubble">Frambuesa</p>
        </a>
        <a href="#" class="individual-bubble">
            <img class="img-bubble" src="../img/IceCreamIA/violed.jpeg" alt="product">
            <p class="info-bubble">Mora</p>
        </a>
        <a href="#" class="individual-bubble">
            <img class="img-bubble" src="../img/IceCreamIA/white.jpeg" alt="product">
            <p class="info-bubble">Coco</p>
        </a>
    </div>
    
    <div class="products-section-block">
        
        <div class="sortItems">
            <label for="sortForm">Ordenar por: </label> 
            <select name="sort" id="sort">
                <option value="Relevancia">Relevancia</option>
                <option value="Precio ascendente">Precio ascendente</option>
                <option value="Precio descendente">Precio descendente</option>
                <option value="Ultimas novedades">Ultimas novedades</option>
            </select>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/red2.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Tinita de fresa</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/brownAndGreen.jpeg" alt="icecream2">
            <div class="product-info-container">
                <p class="product-price">€4.00</p>
                <p class="product-title">Helado de Menta con Chocolate</p>
                <p class="product-info">La armonía perfecta entre lo fresco y lo indulgente, este helado de menta suave se entrelaza con trozos de chocolate oscuro, creando una experiencia refrescante y deliciosamente rica.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/green2.jpeg" alt="icecream3">
            <div class="product-info-container">
                <p class="product-price">€3.20</p>
                <p class="product-title">Helado de Menta</p>
                <p class="product-info">Un deleite refrescante que captura la esencia pura de la menta. Su suavidad y frescura se combinan para ofrecer una experiencia helada y revitalizante.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/red.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Tinita de fresa</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/brown.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Tinita de chocolate</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>
        
        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/white.jpeg" alt="icecream3">
            <div class="product-info-container">
                <p class="product-price">€3.20</p>
                <p class="product-title">Helado de Menta</p>
                <p class="product-info">Un deleite refrescante que captura la esencia pura de la menta. Su suavidad y frescura se combinan para ofrecer una experiencia helada y revitalizante.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/beige.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Tinita de fresa</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/violed.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Tinita de chocolate</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>
        
        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/blue.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Helado de chicle</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/red2.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Tinita de fresa</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/brownAndGreen.jpeg" alt="icecream2">
            <div class="product-info-container">
                <p class="product-price">€4.00</p>
                <p class="product-title">Helado de Menta con Chocolate</p>
                <p class="product-info">La armonía perfecta entre lo fresco y lo indulgente, este helado de menta suave se entrelaza con trozos de chocolate oscuro, creando una experiencia refrescante y deliciosamente rica.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/green2.jpeg" alt="icecream3">
            <div class="product-info-container">
                <p class="product-price">€3.20</p>
                <p class="product-title">Helado de Menta</p>
                <p class="product-info">Un deleite refrescante que captura la esencia pura de la menta. Su suavidad y frescura se combinan para ofrecer una experiencia helada y revitalizante.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/red.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Tinita de fresa</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/brown.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Tinita de chocolate</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>
        
        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/white.jpeg" alt="icecream3">
            <div class="product-info-container">
                <p class="product-price">€3.20</p>
                <p class="product-title">Helado de Menta</p>
                <p class="product-info">Un deleite refrescante que captura la esencia pura de la menta. Su suavidad y frescura se combinan para ofrecer una experiencia helada y revitalizante.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/beige.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Tinita de fresa</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>

        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/violed.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Tinita de chocolate</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>
        
        <div class="product">
            <img class="product-img" src="../img/IceCreamIA/blue.jpeg" alt="icecream1">
            <div class="product-info-container">
                <p class="product-price">€2.50</p>
                <p class="product-title">Helado de chicle</p>
                <p class="product-info">Dulzura roja y refrescante, este helado combina la cremosidad clásica con la intensidad jugosa de las fresas frescas.</p>
                <input class="product-button" type="button" value="Añadir al carrito">
            </div>
        </div>
        <br>
        <input class="see-more-button-botom" type="button" value="SEE MORE">
    </div>
    <div class="footer">
        <div class="foo-links">
            <p class="foo-title">Links utiles</p>
            <a class="foo-individual-link" href="#">Sobre nosotros</a><br class="break-mobile">
            <a class="foo-individual-link" href="#">Preguntas frecuentes</a><br class="break-mobile">
            <a class="foo-individual-link" href="#">Trabaje con nosotros</a>
        </div>
        <hr class="foo-hr">
        <div class="foo-social">
            <p class="foo-title">Redes Sociales</p>
            <div class="social-icons">
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-instagram.svg" alt="social-icon"> </a>
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-twitter.svg" alt="social-icon"> </a>
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-youtube.svg" alt="social-icon"> </a>
                <a class="foo-individual-link" href="#"><img class="social-icon" src="../img/svg/square-pinterest.svg" alt="social-icon"> </a>
            </div>
        </div>
        <hr class="foo-hr">
        <div class="foo-contacts">
            <p class="foo-title">Contactos</p>
            <a class="foo-individual-link" href="#"><img class="info-icons" src="../img/svg/location-dot-solid.svg" alt="social-icon"> PolarVibes - Camino del infante calle numero 34</a><br class="break-mobile">
            <a class="foo-individual-link" href="tel:916865014"><img class="info-icons" src="../img/svg/phone-solid.svg" alt="social-icon"> Telefono: 987654321</a><br class="break-mobile">
            <a class="foo-individual-link" href="mailto:polarvibes@polarvibes.com"><img class="info-icons" src="../img/svg/envelope-solid.svg" alt="social-icon"> polarvibes@polarvibes.com</a>
        </div>
    </div>

</body>
</html>